$colors: (
  success: #00ff00,
  green: #008000,
  danger: #ff0000,
  error: #ff0000,
  silver: #c0c0c0,
  blue: #0000ff,
);

$fonts: (
  xs: 10px,
  sm: 12px,
  md: 14px,
  bg: 16px,
  lg: 18px,
  xl: 20px,
);
