$colors: (
  success: #00ff00,
  green: #008000,
  danger: #ff0000,
  error: #ff0000,
  silver: #c0c0c0,
  blue: #0000ff,
);

$fonts: (
  xs: 10px,
  sm: 12px,
  md: 14px,
  bg: 16px,
  lg: 18px,
  xl: 20px,
);

@mixin heading($type: "md") {
  @if $type == "lg" {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  @elseif $type == "xl" {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  @elseif $type == "2xl" {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  } @else {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
